table,
th,
td {
  border: 1px solid #ddd;
  /* border: none; */
}

.sda {
  width: 100%;
}
table {
  width: 100%;
}
table {
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: coral;
}
tr .header {
  background-color: #217c5b;
  color: white;
}
