@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* font-family: "Roboto"; */
  box-sizing: border-box;
}

.hidden-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.rotate-r-90 {
  animation: rotate-r-90 0.3s linear forwards;
}

.rotate-default {
  animation: rotate-default 0.3s linear forwards;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes rotate-r-90 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}
@keyframes rotate-default {
  to {
    transform: rotate(0deg);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(8px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes expand {
  from {
    height: 0;
    scale: 0;
    overflow: hidden;
  }
  to {
    height: 100%;
    scale: 1;
    overflow: hidden;
  }
}
